@model IEnumerable<CustomerOrder>
@{
    ViewData["Title"] = "Index";
}
<style>

    .padding {
        padding-top: 10px;
        padding-bottom: 10px;
        font-family: 'Changa', sans-serif;
        font-size: 15px;
    }

    .nowrap {
        white-space: nowrap;
    }

    .border-bottom {
        border-bottom: 1px solid #a6b0b9 !important;
    }

    .WhiteBacground {
        background-color: #fff;
        border: solid 4px #009688 !important;
        border-radius: 10px;
        padding: 30px;
        margin-bottom: 30px;
    }

    .font {
        font-family: 'Changa', sans-serif;
        font-size: 18px;
    }

    .roco {
        background-color: #009688 !important;
        color: white;
    }

    .txtCO {
        color: #050404;
        font-family: 'shahd-bold';
    }

    .btnAdd {
        font-size: 15px;
        font-family: 'shahd-bold';
        padding-top: 10px;
    }

    @@media screen and (max-width:370px) {
        .btnAdd {
            font-size: 14px;
        }

        .txtCO {
            font-size: 20px;
        }
    }
</style>

<div class="container" style="padding-top:70px; margin-bottom:100px; z-index:-1;">
    <div dir="rtl" class="font WhiteBacground ">
        <div class="row">
            <div class="col-6 text-right">
                <br />
                <h4 class="txtCO">قائمة الطرود</h4>
                <br />
            </div>
            <div class="col-6" style="padding-top:20px">
                <a class="btnAdd btn btn-primary text-white" asp-area="Customer" asp-controller="CustomerOrder" asp-action="AddOrder"><i class="fas fa-plus"></i> &nbsp;اضافة طرد</a>
            </div>
        </div>
        <div>
            @if (Model.Count() == 0)
            {
                <div class="text-danger text-right">لايوجد طرود مضافة . . .</div>
            }
            else
            {
                <div class="roco row bg-secondary text-right " style="font-size:small; font-family: 'Changa', sans-serif;">
                    <div class="col-4 padding">
                        @Html.DisplayNameFor(m => m.RecipientPhone1)
                    </div>

                    <div class="col-4 padding">
                        @Html.DisplayNameFor(m => m.City.CityName)
                    </div>

                    <div class="col-4">

                    </div>
                </div>

                @foreach (var item in Model)
                {
                    <div class="row border-bottom" style="font-size:small; font-family: 'Changa', sans-serif;">
                        <div class="col-4 padding text-right">
                            @Html.DisplayFor(m => item.RecipientPhone1)
                        </div>

                        <div class="col-4 padding text-right">
                            @Html.DisplayFor(m => item.City.CityName)
                        </div>

                        <div class="col-4 padding text-left nowrap">
                            <a class="btn btn-success" asp-area="Customer" asp-controller="CustomerOrder" asp-action="Edit" asp-route-id="@item.ID_SubOrder"><i class="fas fa-edit"></i></a>
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ID_SubOrder"><i class="far fa-trash-alt"></i></a>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
