@model IEnumerable<Brunsh>
@{
    ViewData["Title"] = "Index";
    <style>

        .padding {
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .nowrap {
            white-space: nowrap;
        }

        .border-bottom {
            border-bottom: 1px solid #a6b0b9 !important;
        }
        .btnAdd {
            font-size: 15px;
            font-family: 'shahd-bold';
            padding-top: 10px;
        }

        @@media screen and (max-width:370px) {
            .btnAdd {
                font-size: 14px;
            }

            .txtCO {
                font-size: 20px;
            }
        }
    </style>
}



<div class="container" style="padding-top:70px; margin-bottom:100px; z-index:-1;">

    <div dir="rtl" class="font WhiteBacground border">
        <div class="row">
            <div class="col-6 text-right">
                <br />
                <h4 class="txtCO">قائمة الفروع</h4>
                <br />
            </div>
            <div class="col-6" style="padding-top:20px">
                <a class="btnAdd btn btn-primary text-white" asp-area="Admin" asp-controller="Brunsh" asp-action="Add"><i class="fas fa-plus"></i> &nbsp;اضافة فرع</a>
            </div>
        </div>
        <div>
            @if (Model.Count() == 0)
            {
                <div class="text-danger text-right">لايوجد فروع . . .</div>
            }
            else
            {
                <div class="roco row bg-secondary text-white text-right " style="font-size:small;">
                    <div class="col-4 padding">
                        @Html.DisplayNameFor(m => m.BrunshName)
                    </div>

                    <div class="col-4 padding">
                        @Html.DisplayNameFor(m => m.Code)
                    </div>

                    <div class="col-4 padding">
                    </div>
                </div>

                @foreach (var item in Model)
                {
                    <div class="row border-bottom" style="font-size:small;">
                        <div class="col-4 padding text-right">
                            @Html.DisplayFor(m => item.BrunshName)
                        </div>

                        <div class="col-3 padding text-right">
                            @Html.DisplayFor(m => item.Code)
                        </div>

                        <div class="col-5 padding text-left">
                            <a class="btn btn-success" asp-area="Admin" asp-controller="Brunsh" asp-action="Edit" asp-route-id="@item.ID_Brunsh"><i class="fas fa-edit"></i></a>
                            <a class="btn btn-danger" asp-area="Admin" asp-controller="Brunsh" asp-action="Delete" asp-route-id="@item.ID_Brunsh"><i class="far fa-trash-alt"></i></a>
                        </div>
                    </div>
                }
            }

        </div>
    </div>

</div>