@model Cities_BrunshName
@{
    ViewData["Title"] = "Details";
    <style>

        .padding {
            padding-top: 10px;
            padding-bottom: 10px;
            font-family: 'Changa', sans-serif;
            font-size: 15px;
        }

        .font {
            font-family: 'Changa', sans-serif;
            font-size: 18px;
        }
        h4 {
            color: #050404;
            font-family: 'shahd-bold';
        }
        .roco {
            background-color: #009688 !important;
            color: white;
        }
        .nowrap {
            white-space: nowrap;
        }

        .border-bottom {
            border-bottom: 1px solid #a6b0b9 !important;
        }
        .row1 {
            display: flex;
            flex-direction: row-reverse;
            margin-bottom: 10px;
        }
        .cnt{
            text-align:center;
        }
    </style>
}
<div class="container" style="padding-top:70px; margin-bottom:100px; z-index:-1;">
    <div dir="rtl" class="font WhiteBacground border">
        <div class="row">
            <div class="col-12 text-right">
                <br />
                <h4 class="cnt">اسعار التوصيل</h4>
                <br />
            </div>
            <div class="col-12 row1" style="margin-right: 29px;">
                <div class="col-4 text-left">

                    <a class="btn-secondary form-control" asp-controller="DelivryPrice" asp-action="Index" style="text-align:center; text-decoration:none ;  font-family: 'shahd-bold';" >رجوع</a>

                </div>

                <div class="col-8 text-right">
                    <h4 style="margin-right: -40px;">فرع  @Model.BrunshName </h4>

                </div>
            </div>
        </div>
        <div>
            
            @if (Model.Cities.Count() == 0)
            {
                <div class="text-danger text-right">لايوجد مدن . . .</div>
            }
            else
            {
                <div class="roco row bg-secondary text-white text-right " style="font-size:small;">
                    <div class="col-4 padding">
                        @Html.DisplayNameFor(m => m.Cities.First().CityName)
                    </div>

                    <div class="col-4 padding">
                        @Html.DisplayNameFor(m => m.Cities.First().PriceMen)
                    </div>

                    <div class="col-4 padding">
                        @Html.DisplayNameFor(m => m.Cities.First().Days)
                    </div>
                </div>

                @foreach (var item in Model.Cities)
                {
                    <div class="row border-bottom" style="font-size:small;">
                        <div class="col-4 padding text-right">
                            @Html.DisplayFor(m => item.CityName)
                        </div>

                        <div class="col-4 padding text-right">
                            @Html.DisplayFor(m => item.PriceMen)
                        </div>

                        <div class="col-4 padding text-right">
                            @Html.DisplayFor(m => item.Days)
                        </div>

                    </div>
                }
                <div class=" padding text-left">
                </div>

            }

        </div>
    </div>
</div>
